In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
# AutoMated EDA >> Pandas Profiling, D-tale, dabl, SwitzViz, DataTile, QuickDA

In [4]:
# EDA - Explratory Data Analysys
#--  Profiling of Data
#--  Statistical Based Analysis
#--  Graph Based Analysis

### Analysing Google play Store DataSet

In [5]:
df = pd.read_csv(r"E:\DataScience\EDA\googleplaystore.csv")

In [6]:
df.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

### 1.(a) Getting Numerical Data

In [7]:
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

### 1.(b) Getting All Categorical Data

In [8]:
df.describe(include="all")

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
count,10841,10841,9367.000000,10841,10841,10841,10840,10841,10840,10841,10841,10833,10838
unique,9660,34,NaN,6002,462,22,3,93,6,120,1378,2832,33
top,ROBLOX,FAMILY,NaN,0,Varies with device,"1,000,000+",Free,0,Everyone,Tools,"August 3, 2018",Varies with device,4.1 and up
freq,9,1972,NaN,596,1695,1579,10039,10040,8714,842,326,1459,2451
mean,NaN,NaN,4.193338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,0.537431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,4.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,4.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,19.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 2(a). Checking All Duplicates Count

In [9]:
df.duplicated().sum()

483

### 2(b). Checking Duplicate

In [10]:
df[df.duplicated()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
229,Quick PDF Scanner + OCR FREE,BUSINESS,4.2,80805,Varies with device,"5,000,000+",Free,0,Everyone,Business,"February 26, 2018",Varies with device,4.0.3 and up
236,Box,BUSINESS,4.2,159872,Varies with device,"10,000,000+",Free,0,Everyone,Business,"July 31, 2018",Varies with device,Varies with device
239,Google My Business,BUSINESS,4.4,70991,Varies with device,"5,000,000+",Free,0,Everyone,Business,"July 24, 2018",2.19.0.204537701,4.4 and up
256,ZOOM Cloud Meetings,BUSINESS,4.4,31614,37M,"10,000,000+",Free,0,Everyone,Business,"July 20, 2018",4.1.28165.0716,4.0 and up
261,join.me - Simple Meetings,BUSINESS,4.0,6989,Varies with device,"1,000,000+",Free,0,Everyone,Business,"July 16, 2018",4.3.0.508,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8643,Wunderlist: To-Do List & Tasks,PRODUCTIVITY,4.6,404610,Varies with device,"10,000,000+",Free,0,Everyone,Productivity,"April 6, 2018",Varies with device,Varies with device
8654,"TickTick: To Do List with Reminder, Day Planner",PRODUCTIVITY,4.6,25370,Varies with device,"1,000,000+",Free,0,Everyone,Productivity,"August 6, 2018",Varies with device,Varies with device
8658,ColorNote Notepad Notes,PRODUCTIVITY,4.6,2401017,Varies with device,"100,000,000+",Free,0,Everyone,Productivity,"June 27, 2018",Varies with device,Varies with device
10049,Airway Ex - Intubate. Anesthetize. Train.,MEDICAL,4.3,123,86M,"10,000+",Free,0,Everyone,Medical,"June 1, 2018",0.6.88,5.0 and up
10768,AAFP,MEDICAL,3.8,63,24M,"10,000+",Free,0,Everyone,Medical,"June 22, 2018",2.3.1,5.0 and up

### 2(c). All Columns

In [11]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

### 3(a). Checking All Data types

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

### 3(b). Checking Datatypes of reviews

In [13]:
df['Reviews'].dtypes

dtype('O')

### 3(c). Getting first 1000 Value

In [14]:
df['Reviews'].unique()[:1000]

array(['159', '967', '87510', '215644', '167', '178', '36815', '13791',
       '121', '13880', '8788', '44829', '4326', '1518', '55', '3632',
       '27', '194216', '224399', '450', '654', '7699', '61', '118', '192',
       '20260', '203', '136', '223', '1120', '227', '5035', '1015', '353',
       '564', '8145', '36639', '158', '591', '117', '176', '295221',
       '2206', '26', '174531', '1070', '85', '845', '367', '1598', '284',
       '17057', '129', '542', '10479', '805', '1403', '3971', '534',
       '7774', '38846', '2431', '6090', '295', '190', '40211', '356',
       '52530', '116986', '1379', '271920', '736', '7021', '197', '737',
       '3574', '994', '197136', '142', '15168', '2155', '138', '5414',
       '21777', '348', '250', '13372', '7880', '3617', '4806', '65786',
       '31433', '5097', '1754', '2680', '1288', '18900', '49790', '1150',
       '1739', '32090', '2225', '4369', '8572', '964', '42050', '104',
       '17934', '601', '36', '187', '182', '30', '134', '74', '113715',
       '3595', '9315', '75', '38', '26834', '119', '2277', '2280', '184',
       '9', '77', '35', '364', '18', '473', '66', '3871', '257', '62',
       '2914724', '1857', '4478', '577550', '814080', '246315', '454060',
       '155446', '418', '22486', '203130', '1435', '116507', '1433233',
       '90468', '860', '363934', '87873', '17506', '1862', '2084',
       '47303', '19080', '161', '85842', '7831', '91615', '4620', '21336',
       '26875', '1778', '2709', '64513', '8342', '527', '1322', '1680',
       '2739', '1065', '233757', '2', '51269', '30105', '156', '114',
       '341157', '16129', '674730', '1254730', '85185', '32584', '217730',
       '70991', '1002861', '16589', '148945', '4458', '62272', '8941',
       '46353', '1279184', '88073', '67000', '159872', '30847', '188841',
       '11622', '95912', '4034', '45964', '14955', '6903', '31614',
       '23055', '19023', '207372', '1225', '380837', '10600', '74359',
       '822', '80805', '2287', '4162', '14760', '23243', '8978', '42492',
       '286897', '103755', '46505', '11442', '10295', '296', '29313',
       '51507', '1802', '1383', '23175', '5868', '2111', '5448', '4159',
       '20815', '78662', '7149', '3079', '5800', '6989', '16422',
       '108741', '624', '1661', '97702', '308', '5211', '1058', '78172',
       '80804', '1002859', '51510', '413', '1013635', '24005', '57106',
       '2249', '516', '834', '1010', '238970', '302', '438', '73', '39',
       '144', '2181', '93965', '1446', '12088', '314', '25671', '15194',
       '22551', '29839', '279', '564387', '1330', '1677', '757', '115',
       '125', '9952', '18814', '21', '15', '51981', '3596', '1006',
       '5968', '4895', '56642847', '69119316', '125257', '9642995',
       '1429035', '4604324', '3419249', '11334799', '158679', '3075028',
       '4187998', '659395', '4785892', '66602', '30209', '36901',
       '5149854', '192948', '99559', '437674', '13698', '2473509',
       '20769', '36880', '171031', '63543', '45487', '615381', '2451083',
       '33053', '5387333', '3648120', '136662', '42370', '781810',
       '3128250', '2083237', '541389', '46702', '2939', '13761', '258556',
       '40751', '17712922', '25021', '27187', '56646578', '4785988',
       '122498', '11334973', '3419433', '132014', '83239', '594728',
       '5387446', '10484169', '3128509', '2451093', '2876500', '28238',
       '335646', '350154', '349384', '346982', '244863', '10790289',
       '330761', '37320', '12842860', '2546527', '36893', '15880',
       '346980', '9643041', '3075118', '2264916', '2473693', '42925',
       '5150471', '2511130', '3648480', '17714850', '13100', '27156',
       '55098', '1133501', '12578', '10965', '18247', '190613', '125232',
       '72065', '27540', '104990', '177703', '17529', '177263', '237468',
       '32254', '483565', '552441', '60308', '457283', '93825', '32283',
       '15287', '205739', '14873', '7820209', '9498', '4604483',
       '4188142', '88427', '305218', '183374', '20901', '122595',
       '124346', '837842', '255', '41420', '44706', '23707', '3419513',
       '11335255', '29208', '191032', '1545', '57', '0', '4', '516801',
       '285726', '76646', '2556', '7779', '61637', '12632', '313724',
       '48845', '305708', '31320', '172460', '4195', '11633', '10212',
       '37053', '667', '13202', '28671', '1157', '212626', '222888',
       '2067', '1643', '105', '3414', '42194', '11806', '1999', '22544',
       '97684', '2519', '1146', '13046', '17268', '8722', '953', '2593',
       '5377', '852', '212', '1972', '35206', '5164', '1939', '277', '80',
       '825', '40035', '1093', '135418', '1601', '2212', '57081', '241',
       '63986', '7888', '535', '5084', '2430', '837', '738', '4631',
       '4953', '1439', '1645', '13204', '853', '337', '13049', '51698',
       '923', '1546', '149', '198', '135420', '22545', '8723', '23170',
       '13890', '57083', '537', '13440', '143', '1059', '894', '6191',
       '15081', '218', '35205', '243950', '236', '5152', '1576', '6701',
       '40039', '742', '2506', '182986', '8661', '8', '59', '28', '185',
       '6', '110', '3', '5', '84', '20', '776', '1', '14', '24', '23',
       '11', '101', '120', '4954', '954', '2560', '42197', '5168',
       '12633', '41605', '2433', '791', '5323', '478', '69', '53',
       '97699', '6289924', '181893', '2544', '85375', '314299', '9770',
       '32346', '4075', '10611', '9321', '56065', '14286', '133136',
       '2469', '36212', '390', '1090', '266948', '342918', '748',
       '172640', '1619', '3168', '29855', '6736', '7005', '889', '5741',
       '27572', '10852', '9888', '1929', '1516', '215301', '423',
       '254519', '1107903', '211856', '99020', '90481', '32381', '248912',
       '248555', '272145', '56897', '8599', '41185', '29980', '304',
       '358', '11904', '22251', '22384', '73404', '12733', '25183',
       '52743', '61749', '55704', '19277', '13612', '37862', '18372',
       '656', '240', '275', '3692', '2363', '1769', '430', '756', '3963',
       '316', '642', '6290507', '32380', '172505', '69493', '1107884',
       '7973', '266935', '5695', '142632', '55256', '172508', '54798',
       '4815', '75112', '33646', '314300', '206527', '9348', '3816',
       '47847', '16195', '206', '28392', '3241', '835', '2525', '828',
       '200058', '1239', '702', '108613', '69498', '148550', '3847',
       '84309', '1107948', '14206', '206532', '14700', '42828', '40209',
       '1405', '148549', '84311', '256079', '2078', '16103', '31085',
       '3528', '5456208', '11656', '28948', '296771', '470089', '10939',
       '98509', '5241', '22508', '10291', '7165362', '4885646', '141980',
       '6979', '46618', '103078', '17682', '37000', '175528', '1828284',
       '34923', '684116', '46916', '407698', '702975', '32458', '235496',
       '11661', '653008', '23063', '87384', '411683', '8918', '501498',
       '2133296', '29690', '130549', '613059', '1633682', '2646', '21867',
       '32732', '243747', '2639', '1511', '44550', '501497', '7813',
       '1033', '2442', '15254', '155234', '310066', '12216', '388089',
       '92058', '88185', '493', '33387', '123279', '27424', '60841',
       '29706', '288150', '14807', '319692', '61201', '22998', '12398',
       '35928', '64448', '22378', '5456599', '296829', '310095', '319691',
       '16372', '58028', '736864', '1968', '35279', '35931', '17247',
       '87723', '18523', '182103', '197774', '8674', '5456708', '58082',
       '407719', '115033', '22997', '801', '8968', '303', '732', '1856',
       '50725', '1575', '6238', '9941', '23666', '67554', '38769',
       '160164', '3771', '256664', '787177', '3782', '40113', '7074',
       '2153', '26089', '20611', '811', '15558', '573', '37', '8232',
       '3089', '3874', '464', '731', '8800', '99', '456', '3200', '5839',
       '663', '16', '13', '46', '1953', '12', '4298', '49', '100', '399',
       '7', '124424', '39041', '52306', '36718', '42644', '278082',
       '6076', '112656', '335738', '31906', '20672', '957973', '130582',
       '31218', '167168', '34428', '15247', '48445', '35518', '12185',
       '36746', '21996', '138371', '12073', '111632', '250706', '706301',
       '64959', '659741', '510392', '7215', '25508', '60449', '381788',
       '10697', '347838', '31804', '3856', '199684', '44545', '1336246',
       '57493', '283', '12304', '8188', '11919', '45957', '126431',
       '21570', '134564', '16961', '111254', '7731', '5928', '15703',
       '6148', '861', '8662', '23130', '69973', '1311', '26587', '2417',
       '706302', '1054', '25166', '129304', '19870', '161440', '7514',
       '46106', '15141', '714', '42410', '260547', '4344', '22808',
       '42809', '16808', '157505', '24647', '1922', '3334', '10658',
       '78361', '2594', '13868', '135952', '11066', '45962', '34861',
       '37580', '281485', '685', '126447', '3780', '15192', '5950',
       '15993', '5905', '659760', '14627', '1098', '2898', '70782',
       '11264', '100997', '347874', '3290', '341090', '87951', '250719',
       '510401', '24729', '78306', '43313', '1374549', '208463', '6998',
       '145323', '95', '64784', '32997', '82', '2707', '129737', '611136',
       '6118', '2473', '109784', '3320', '68103', '8412', '10741', '3803',
       '155944', '10159', '28008', '43614', '455377', '1398', '1032935',
       '32405', '151080', '22513', '90042', '58316', '8509', '19314',
       '21314', '30224', '454', '14952', '1250', '1726', '14065', '556',
       '4925', '6507', '11707', '1077', '46539', '9066', '1962', '22071',
       '196', '278', '61881', '2129', '1268', '91359', '22015', '131569',
       '31986', '22875', '17071', '90242', '483960', '511228'],
      dtype=object)

### 3(C). Getting All Reviews Value and Converting into integer

In [15]:
df.Reviews.str

### 3(e). Filtering object type Value in reviews columns

In [16]:

df[df.Reviews.str.isnumeric()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

### 3(f). Filtering All String Value

In [17]:
df[~df.Reviews.str.isnumeric()]  # Adding (~) sign to get string values

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

### 3(g). Copying original Data in Df_Copy

In [18]:
df_copy = df.copy()

### Droping String value in Reviews Columns

In [19]:
df_copy.drop(df_copy.index[10472], inplace=True)

### Recheking Datatypes

In [20]:
df_copy['Reviews'].dtypes

dtype('O')

### Changing Dtpyes of Reviews Columns to int

In [21]:
df_copy['Reviews'] =  df_copy['Reviews'].astype(int)

In [22]:
df_copy['Reviews']

0           159
1           967
2         87510
3        215644
4           967
          ...
10836        38
10837         4
10838         3
10839       114
10840    398307
Name: Reviews, Length: 10840, dtype: int32

In [23]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10840 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int32
 4   Size            10840 non-null  object
 5   Installs        10840 non-null  object
 6   Type            10839 non-null  object
 7   Price           10840 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), int32(1), object(11)
memory usage: 1.1+ MB

### Now Changing Size Columns because because there is some value in 'Mb' and 'kb'

In [24]:
df_copy['Size'].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '470k',
       '226k', '240k', '89k', '234k', '257k', '861k', '467k', '157k',
       '44k', '676k', '67k', '552k', '885k', '1020k', '582k', '619k'],
      dtype=object)

### Code For Converting 'M' And 'k' into same size type >> Different method

In [25]:
def Size_process(item):
    if str(item)[-1] == 'M':
        res = float(str(item).replace("M", " "))
        res = res*1000
        return str(res)
    elif str(item)[-1] == 'k':
        res = str(item).replace('k', ' ')
        return res
    else:
        return str(np.Nan)

### Converting 'M'

In [26]:
df_copy['Size'] = df_copy['Size'].str.replace("M", "000")

### Converting 'k"

In [27]:
df_copy['Size'] = df_copy['Size'].str.replace("k", " ")

In [28]:
df_copy['Size'].unique()

array(['19000', '14000', '8.7000', '25000', '2.8000', '5.6000', '29000',
       '33000', '3.1000', '28000', '12000', '20000', '21000', '37000',
       '2.7000', '5.5000', '17000', '39000', '31000', '4.2000', '7.0000',
       '23000', '6.0000', '6.1000', '4.6000', '9.2000', '5.2000', '11000',
       '24000', 'Varies with device', '9.4000', '15000', '10000',
       '1.2000', '26000', '8.0000', '7.9000', '56000', '57000', '35000',
       '54000', '201 ', '3.6000', '5.7000', '8.6000', '2.4000', '27000',
       '2.5000', '16000', '3.4000', '8.9000', '3.9000', '2.9000', '38000',
       '32000', '5.4000', '18000', '1.1000', '2.2000', '4.5000', '9.8000',
       '52000', '9.0000', '6.7000', '30000', '2.6000', '7.1000', '3.7000',
       '22000', '7.4000', '6.4000', '3.2000', '8.2000', '9.9000',
       '4.9000', '9.5000', '5.0000', '5.9000', '13000', '73000', '6.8000',
       '3.5000', '4.0000', '2.3000', '7.2000', '2.1000', '42000',
       '7.3000', '9.1000', '55000', '23 ', '6.5000', '1.5000', '7.5000',
       '51000', '41000', '48000', '8.5000', '46000', '8.3000', '4.3000',
       '4.7000', '3.3000', '40000', '7.8000', '8.8000', '6.6000',
       '5.1000', '61000', '66000', '79 ', '8.4000', '118 ', '44000',
       '695 ', '1.6000', '6.2000', '18 ', '53000', '1.4000', '3.0000',
       '5.8000', '3.8000', '9.6000', '45000', '63000', '49000', '77000',
       '4.4000', '4.8000', '70000', '6.9000', '9.3000', '10.0000',
       '8.1000', '36000', '84000', '97000', '2.0000', '1.9000', '1.8000',
       '5.3000', '47000', '556 ', '526 ', '76000', '7.6000', '59000',
       '9.7000', '78000', '72000', '43000', '7.7000', '6.3000', '334 ',
       '34000', '93000', '65000', '79000', '100000', '58000', '50000',
       '68000', '64000', '67000', '60000', '94000', '232 ', '99000',
       '624 ', '95000', '8.5 ', '41 ', '292 ', '11 ', '80000', '1.7000',
       '74000', '62000', '69000', '75000', '98000', '85000', '82000',
       '96000', '87000', '71000', '86000', '91000', '81000', '92000',
       '83000', '88000', '704 ', '862 ', '899 ', '378 ', '266 ', '375 ',
       '1.3000', '975 ', '980 ', '4.1000', '89000', '696 ', '544 ',
       '525 ', '920 ', '779 ', '853 ', '720 ', '713 ', '772 ', '318 ',
       '58 ', '241 ', '196 ', '857 ', '51 ', '953 ', '865 ', '251 ',
       '930 ', '540 ', '313 ', '746 ', '203 ', '26 ', '314 ', '239 ',
       '371 ', '220 ', '730 ', '756 ', '91 ', '293 ', '17 ', '74 ', '14 ',
       '317 ', '78 ', '924 ', '902 ', '818 ', '81 ', '939 ', '169 ',
       '45 ', '475 ', '965 ', '90000', '545 ', '61 ', '283 ', '655 ',
       '714 ', '93 ', '872 ', '121 ', '322 ', '1.0000', '976 ', '172 ',
       '238 ', '549 ', '206 ', '954 ', '444 ', '717 ', '210 ', '609 ',
       '308 ', '705 ', '306 ', '904 ', '473 ', '175 ', '350 ', '383 ',
       '454 ', '421 ', '70 ', '812 ', '442 ', '842 ', '417 ', '412 ',
       '459 ', '478 ', '335 ', '782 ', '721 ', '430 ', '429 ', '192 ',
       '200 ', '460 ', '728 ', '496 ', '816 ', '414 ', '506 ', '887 ',
       '613 ', '243 ', '569 ', '778 ', '683 ', '592 ', '319 ', '186 ',
       '840 ', '647 ', '191 ', '373 ', '437 ', '598 ', '716 ', '585 ',
       '982 ', '222 ', '219 ', '55 ', '948 ', '323 ', '691 ', '511 ',
       '951 ', '963 ', '25 ', '554 ', '351 ', '27 ', '82 ', '208 ',
       '913 ', '514 ', '551 ', '29 ', '103 ', '898 ', '743 ', '116 ',
       '153 ', '209 ', '353 ', '499 ', '173 ', '597 ', '809 ', '122 ',
       '411 ', '400 ', '801 ', '787 ', '237 ', '50 ', '643 ', '986 ',
       '97 ', '516 ', '837 ', '780 ', '961 ', '269 ', '20 ', '498 ',
       '600 ', '749 ', '642 ', '881 ', '72 ', '656 ', '601 ', '221 ',
       '228 ', '108 ', '940 ', '176 ', '33 ', '663 ', '34 ', '942 ',
       '259 ', '164 ', '458 ', '245 ', '629 ', '28 ', '288 ', '775 ',
       '785 ', '636 ', '916 ', '994 ', '309 ', '485 ', '914 ', '903 ',
       '608 ', '500 ', '54 ', '562 ', '847 ', '957 ', '688 ', '811 ',
       '270 ', '48 ', '329 ', '523 ', '921 ', '874 ', '981 ', '784 ',
       '280 ', '24 ', '518 ', '754 ', '892 ', '154 ', '860 ', '364 ',
       '387 ', '626 ', '161 ', '879 ', '39 ', '970 ', '170 ', '141 ',
       '160 ', '144 ', '143 ', '190 ', '376 ', '193 ', '246 ', '73 ',
       '658 ', '992 ', '253 ', '420 ', '404 ', '470 ', '226 ', '240 ',
       '89 ', '234 ', '257 ', '861 ', '467 ', '157 ', '44 ', '676 ',
       '67 ', '552 ', '885 ', '1020 ', '582 ', '619 '], dtype=object)

In [29]:
df_copy['Size'] = df_copy['Size'].astype(float)

ValueError: could not convert string to float: 'Varies with device'

### There is some problem while converting object to float ( could not convert string to float: 'Varies with device')

In [32]:
df_copy['Size'] = df_copy['Size'].str.replace("Varies with device", str(np.nan))

In [33]:
df_copy['Size'] =  df_copy['Size'].astype(float)

In [34]:
df_copy['Size']

0        19000.0
1        14000.0
2            8.7
3        25000.0
4            2.8
          ...
10836    53000.0
10837        3.6
10838        9.5
10839        NaN
10840    19000.0
Name: Size, Length: 10840, dtype: float64

In [35]:
df_copy['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', '$1.20', '$1.04'], dtype=object)

In [36]:
df_copy['Price'] =  df_copy['Price'].str.replace("$", " ")

In [37]:
df_copy['Price'].unique()

array(['0', ' 4.99', ' 3.99', ' 6.99', ' 1.49', ' 2.99', ' 7.99', ' 5.99',
       ' 3.49', ' 1.99', ' 9.99', ' 7.49', ' 0.99', ' 9.00', ' 5.49',
       ' 10.00', ' 24.99', ' 11.99', ' 79.99', ' 16.99', ' 14.99',
       ' 1.00', ' 29.99', ' 12.99', ' 2.49', ' 10.99', ' 1.50', ' 19.99',
       ' 15.99', ' 33.99', ' 74.99', ' 39.99', ' 3.95', ' 4.49', ' 1.70',
       ' 8.99', ' 2.00', ' 3.88', ' 25.99', ' 399.99', ' 17.99',
       ' 400.00', ' 3.02', ' 1.76', ' 4.84', ' 4.77', ' 1.61', ' 2.50',
       ' 1.59', ' 6.49', ' 1.29', ' 5.00', ' 13.99', ' 299.99', ' 379.99',
       ' 37.99', ' 18.99', ' 389.99', ' 19.90', ' 8.49', ' 1.75',
       ' 14.00', ' 4.85', ' 46.99', ' 109.99', ' 154.99', ' 3.08',
       ' 2.59', ' 4.80', ' 1.96', ' 19.40', ' 3.90', ' 4.59', ' 15.46',
       ' 3.04', ' 4.29', ' 2.60', ' 3.28', ' 4.60', ' 28.99', ' 2.95',
       ' 2.90', ' 1.97', ' 200.00', ' 89.99', ' 2.56', ' 30.99', ' 3.61',
       ' 394.99', ' 1.26', ' 1.20', ' 1.04'], dtype=object)

In [38]:
df_copy['Price'] =  df_copy['Price'].astype(float)

In [40]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10840 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int32
 4   Size            9145 non-null   float64
 5   Installs        10840 non-null  object
 6   Type            10839 non-null  object
 7   Price           10840 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(3), int32(1), object(9)
memory usage: 1.1+ MB

In [44]:
df_copy['Installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0'], dtype=object)

In [49]:
df_copy['Installs'] = df_copy['Installs'].str.replace("+","").str.replace(","," ").str.replace(" ","")

In [50]:
df_copy['Installs'].unique()

array(['10000', '500000', '5000000', '50000000', '100000', '50000',
       '1000000', '10000000', '5000', '100000000', '1000000000', '1000',
       '500000000', '50', '100', '500', '10', '1', '5', '0'], dtype=object)

In [51]:
df_copy['Installs']  = df_copy['Installs'].astype(int)